@import "./button.css";
@import "./header.css";
@import "./button-icon.css";
@import "./hero.css";
@import "./wrapper.css";
@import "./menu.css";
@import "./testimonial.css";
@import "./proyects.css";
@import "./social.css";
@import "./footer.css";
@import "./form.css";
@import "./title.css";
@import "./review.css";

:root{
    /* --fontBase: 'Poppins', sans-serif; */
    --fontBase: 'Oxygen', sans-serif;
    --fontSecondary: 'Oxygen', sans-serif;
    --headline1: bold 95px/153.71px var(--fontBase);
    --headline2: bold 59px/95px var(--fontBase);
    --headline3: bold 48px/77px var(--fontBase);
    --headline4: bold 34px/55px var(--fontBase);
    --headline4secondary: 34px/55px var(--fontSecondary);
    --headline5: bold 24px/38px var(--fontBase);
    --headline5secondary: 24px/38px var(--fontBase);
    --body1: 16px/25px var(--fontBase);
    --body1secondary: bold 24px/38px var(--fontSecondary);
    --body2: 14px/22px var(--fontBase);
    --button: bold 14px/22px var(--fontBase);
    --caption: 12px/19px var(--fontBase);
    --gradient:  linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
    --dark: #000000;
    --green: #42E2B8;
    --white: #fff;
}

body{
    background: var(--gradient);
    min-block-size: 100vh;
    font: var(--body1);
    color: var(--dark);
    margin: 0px;
}