.title{
    font: var(--headline4);
    background: var(--dark);
    align-self: flex-start;
    color: var(--green);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    text-decoration: none;
    box-shadow: -4px 4px 0 var(--white);
}